﻿@model DonationResultViewModel
@{
    ViewData["Title"] = "Donation - Transaction Processing Result";
}
<h3>@ViewData["Title"] </h3> <br/>
@if (Model.IsSuccess)
{
    <h4 class="text-success">Your generous donation has been accepted. @Model.ResponseMessage</h4><br/>
}
else
{
    <h4 class="text-danger">We encountered an error while processing your donation. @Model.ResponseMessage</h4><br/>
}
