﻿@model DonationViewModel
@using Microsoft.Extensions.Options;
@using SeaShepherd.Donations.Utilities
@inject IOptions<eWaySettings> eWaySettings;
@{
    ViewData["Title"] = "Home Page";
    var style = "line-height: 1; height: 28px; border: 1px solid #AAA; color: #000; padding: 2px;";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" align="justify">
        <div id="donation-form-div">
            <h2>Donate</h2>
            <form method="POST" id="donation-form" asp-controller="Home" asp-action="ProcessDonation">
                Donation Amount: <input asp-for="DonationAmount" type="number"  style="@style"/> <br />
                Email: <input asp-for="Email"  style="@style"/> <br />
                Or <br/>
                Mobile: <input asp-for="MobileNumber"  style="@style"/> <br />
                Title: <select asp-for="Title" asp-items="@Model.TitleList"  style="@style"></select>
                @*<select id="title" style="@style">
                    <option>Mr.</option>
                    <option>Ms.</option>
                    <option>Mrs.</option>
                    <option>Miss.</option>
                    <option>Dr.</option>
                    <option>Sir.</option>
                    <option>Prof.</option>
                </select>*@
                <br />
                FirstName: <input asp-for="FirstName"  style="@style"/> <br />
                LastName: <input asp-for="LastName"  style="@style"/> <br />
                Card Name: <div id="eway-secure-field-name" style="@style"></div><br>
                Card Number: <div id="eway-secure-field-card" style="@style"></div><br>
                Card Expiry: <div id="eway-secure-field-expiry" style="@style"></div><br>
                Card CVN: <div id="eway-secure-field-cvn" style="@style"></div><br><br>
                <input type="hidden" asp-for="SecuredCardData" />
                <input type="submit" id="processDonation" value="Process" text="Process Donation" />
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<script src="https://secure.ewaypayments.com/scripts/eWAY.min.js" data-init="false"></script>
<script type="text/javascript">
        window.onload = function () {
            console.log("@Url.RouteUrl("Contact")");
            eWAY.setupSecureField(nameFieldConfig, secureFieldCallback);
            eWAY.setupSecureField(cardFieldConfig, secureFieldCallback);
            eWAY.setupSecureField(expiryFieldConfig, secureFieldCallback);
            eWAY.setupSecureField(cvnFieldConfig, secureFieldCallback);
        };

        function secureFieldCallback(event) {
            if (!event.fieldValid) {
                alert(event.errors);
            } else {
                // set the hidden Secure Field Code field
                var s = document.getElementById("SecuredCardData");
                s.value = event.secureFieldCode;
            }
        }
        var publicApiKey = "@eWaySettings.Value.PublicAPIKey";
        var fieldStyles = "line-height: 1; height: 28px; border: 1px solid #AAA; color: #000; padding: 2px;";

        var nameFieldConfig = {
            publicApiKey: publicApiKey,
            fieldDivId: "eway-secure-field-name",
            fieldType: "name",
            styles: fieldStyles
        };
        var cardFieldConfig = {
            publicApiKey: publicApiKey,
            fieldDivId: "eway-secure-field-card",
            fieldType: "card",
            styles: fieldStyles,
            maskValues: false
        };
        var expiryFieldConfig = {
            publicApiKey: publicApiKey,
            fieldDivId: "eway-secure-field-expiry",
            fieldType: "expiry",
            styles: fieldStyles
        };
        var cvnFieldConfig = {
            publicApiKey: publicApiKey,
            fieldDivId: "eway-secure-field-cvn",
            fieldType: "cvn",
            styles: fieldStyles
        };
    </script>
